name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: chetanuchiha16
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata
          
          # Isocalendar plugin
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # Languages plugin
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%
          
          # Lines of code
          plugin_lines: yes
          
          # Activity plugin - FIXED
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_filter: all
          plugin_activity_visibility: all
          plugin_activity_timestamps: yes
